.logo img {
    border-radius: 50rem;
}

.intro-item {
    background-image: radial-gradient(circle at 4.61% 62.16%, #bee4f9 0, #82c5ed 25%, #2ba4e0 50%, #0083d4 75%, #0066c8 100%);

}

.img-png {
    width: 60%;
    height: 70%;
    margin-left: 550px;
    margin-top: -450px;
}

.whatsapp {
    position: fixed;
    top: 82%;
    left: 1%;
    padding: 10px;
    z-index: 10000000;
    width: 5rem;
}

.whatsapp-footer {
    width: 3rem;
    align-content:flex-end;
}

.footer-main {
    background-color: rgba(4, 97, 143);
}

.footer-bottom {
    background-color: rgba(4, 97, 143);
}
.footer-bottom::before {
    height: 0px;
}